@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.landing {
  background: url('landing.JPEG')
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height:  calc(100vh + 60px);
  z-index: -1;
  filter: blur(1px);
}

.loading-text {
  text-align: center;
  font-size: 100px;
  color: #fff;
}